body{
    height: 100%;
    background: rgb(56, 56, 56);
    font-family: sans-serif;
}

/*#region Card*/
.card-wrapper{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.card{
    width: 300px;
    height: 300px;
    border-radius: 0.5rem;
    background-size: 180%;
    background-position: 0px 0px;
    background-image: url("PUAL_Marketing.png");
    background-color: darkgrey;

    overflow: hidden;
    transition: transform 500ms ease;
}

.card:hover{
    transform:scale(1.05);
}

.gradient-overlay{
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.2) 50%,
        hsl(0 0% 0% / 0.7) 80%,
        hsl(0 0% 0% / 0.75)
    );
}

.card-content{
    color: white;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    bottom: 0;
    margin-bottom: 1.5rem;
}

.card-title{
    position: absolute;
    font-size: x-large;
    bottom: 0;
    margin-bottom: 1.8rem;
    transition: transform 500ms ease;
}

.card:hover .card-title{
    transform:translateY(-160%);
}

.card-description{
    opacity: 0;
    transition: opacity 200ms ease-in;
    margin-bottom: 0.8rem;
}

.card:hover .card-description{
    opacity: 1;
}

.card-category{
    font-size: small;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.25);
    padding: .25em .75em;
    border-radius: 100em;
}

.category-list{
    width: 100%;
    padding-left: 0rem;
}
/*#endregion*/

.card-list{
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.list-wrapper{
    width: 1px;
}