@font-face {
    font-family: "Poppins Regular";
    src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins Light";
    src: url(assets/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: "Poppins Bold";
    src: url(assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins ExtraBold";
    src: url(assets/fonts/Poppins-ExtraBold.ttf);
}

body{
    height: 100%;
    font-family: "Poppins Regular";
    color: white;
    margin: 0;
}

ul{
    padding: 0;
    list-style-type: none;
}

.bullet-point{
    list-style-type: square;
}

.bg-image{
    position: fixed;
    margin: 0;
    z-index: 0;
    height: 100%;
    width: 2200px;
}
.bg-overlay{
    position: fixed;
    margin: 0;
    z-index: 0;
    opacity: 0.1;
    width: 120%;
    top: 5rem;
    z-index: 500;
}


.wrapper{
    position: relative;
    max-width: 1000px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem;
    padding-top: 2rem;
    z-index: 1000;
}

/*#region Category-Main*/
.category-wrapper{
    margin: 0;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

@media all and (max-width: 700px) {
    #hello-wrapper{
        margin: 0;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    #paragraph-wrapper{
        margin: 0;
    }
    
    #profile-paragraph{
        min-width: 15rem;
        margin: 0;
        width: fit-content;
        padding: 0;
    }
}

@media all and (min-width: 700px) {
    #hello-wrapper{
        margin: 0;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    #paragraph-wrapper{
        margin: 0;
    }
    
    #profile-paragraph{
        min-width: 15rem;
        margin: 0;
        width: fit-content;
        padding: 0;
    }
}

.content-paragraph{
    font-size: medium;
    font-family: "Poppins Light";
    width: 100%;
    min-width: 300px;
    margin: 0;
}

.content-paragraph-bolded{
    font-family: "Poppins Bold";
    font-size: medium;
    display: inline-block;
    width: fit-content;
    margin: 0;
}

.profile-pic{
    display: inline-block;
    width: 15rem;
    padding-left: 2rem;
}

.category-button{
    width: fit-content;
    cursor: default;
}

.category-title{
    display: inline-block;
    font-family: "Poppins ExtraBold";
    font-size: xx-large;
    padding-top: 0;
    margin-bottom: 0.8rem;
    margin-right: 0.3ch;
}

.category-more{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.more-button{
    text-decoration: none;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: larger;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 500ms;
}

.arrow-icon{
    height: 16px;
    transform-origin: 50%;
    transform: translateY(7px);
    margin-left: 0.2rem;
    transition: transform 300ms;
}

.more-button:hover{
    opacity: 1;
}

.more-button:hover .arrow-icon{
    transform: translateX(3px) translateY(7px);
}
/* .category-button:hover .icon{
    opacity: 1;
} */
/*#endregion*/

/*#region Card*/
@media all and (max-width: 600px) {
    .card{
        cursor: pointer;
        position: relative;
        min-width: 220px;
        width: 100%;
        height: 12.5srem;
        border-radius: 0.5rem;
        margin: 0;
        overflow: hidden;
        transition: transform 500ms ease;
    }
    
    .video{
        position: absolute;
        width: 100%;
        opacity: 0;
    
        transition: opacity 500ms ease;
    }
}

@media all and (min-width: 600px){
    .card{
        cursor: pointer;
        position: relative;
        min-width: 220px;
        width: 24%;
        height: 20rem;
        border-radius: 0.5rem;
        margin: 0;
        overflow: hidden;
        transition: transform 500ms ease;
    }

    .video{
        position: absolute;
        height: 100%;
        opacity: 0;
    
        transition: opacity 500ms ease;
    }

    .card:hover .card-image{
        opacity: 0;
    }

    .card:hover .video{
        opacity: 1;
    }
}

.card-image{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: darkgrey;
    transition: opacity 500ms ease;
}

.card:hover{
    transform:scale(1.05);
}

.gradient-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.2) 50%,
        hsl(0 0% 0% / 0.7) 80%,
        hsl(0 0% 0% / 0.75)
    );
    transition: opacity 500ms ease;
}



.card-content{
    color: white;
    width: 100%;
    height: fit-content;
    position: absolute;
    box-sizing: border-box;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    bottom: 0;
    margin-bottom: 1.5rem;
}

.title-wrapper{
    height: fit-content;
    bottom: 0;
    margin-bottom: 0;
    transform: translateY(100%) translateY(-30px) translateY(-0.8rem);
    transition: transform 500ms ease;
}
.card-title{
    height: 1.8rem;
    font-family: "Poppins Regular";
    font-size: x-large;
    margin-bottom: 0.3em;
}

.card:hover .title-wrapper{
    transform: translateY(-15%);
}

.card-description{
    opacity: 0;
    margin: 0;
    font-family: "Poppins Regular";
    font-size: small;
    transition: opacity 200ms ease-in;
}

.card:hover .card-description{
    opacity: 1;
}

.card-category{
    font-family: "Poppins Regular";
    font-size: small;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.25);
    padding: .25em .75em;
    border-radius: 100em;
}

.category-list{
    width: 100%;
    padding-left: 0rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.3rem;
}
/*#endregion*/

/*#region Card-List*/
.card-list{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 0.8rem;
    padding: 0;
    margin: 0;
}

.card-grid{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 0.8rem;
    padding: 0;
    margin: 0;
}
/*#endregion*/

/*#region Nav Menu*/
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header-logo{
    margin-right: 0%;
    text-decoration: none;
}

.header .title{
    color: white;
    font-family: "Poppins ExtraBold";
    font-size: 1.8em;
    margin: 0;
}

.header .subtitle{
    color: white;
    font-family: "Poppins Regular";
    margin: 0;
    transform: translateY(-20%);
    font-size: large;
}

.menu{
    max-height: 25px;
    margin: 0;
    place-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.2rem;
}
.menu-button{
    width: fit-content;
    max-height: 30px;
    height: 100%;
    cursor: pointer;
    margin: 0;
    text-decoration: none;
}

.menu-button .content{
    color: white;
    opacity: 0.7;
    font-family: "Poppins Regular";
    transition: opacity 500ms ease;
}

.menu-button .image{
    color: white;
    height: 2.5ch;
    opacity: 0.5;
    font-family: "Poppins Regular";
    transition: opacity 500ms ease;
}

.menu-button:hover .content{
    opacity: 1;
}

.menu-button:hover .image{
    opacity: 1;
}
/*#endregion*/

.rights-reserved{
    color: rgb(170, 170, 170);
    font-size: smaller;
    text-align: center;
    margin: 0;
    margin-bottom: -1rem;
}

/*#region Project-Categories*/
.back-button{
    width: fit-content;
    text-decoration: none;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: larger;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 500ms;
    margin-bottom: 0.5rem;
}

.arrow-icon-back{
    height: 16px;
    transform-origin: 50%;
    transform: translateY(6px);
    margin-right: 0.2rem;
    transition: transform 300ms;
}

.back-button:hover{
    opacity: 1;
}

.back-button:hover .arrow-icon-back{
    transform: translateX(-3px) translateY(6px);
}
.project-title-card{
    position: relative;
    height: 200px;
    width: 106%;
    margin-bottom: 1.5rem;
    overflow: hidden;
    border-radius: 0.5rem;
    transform: translateX(-3%);
    transition: height 800ms ease;
}

/* @media all and (min-width: 800px) {
    .project-title-card:hover{
        height: 500px;
    }
    
    .project-title-card:hover .project-title-wrapper{
        opacity: 0;
    } 

    .project-title-card:hover .gradient-overlay{
        opacity: 0;
    }
} */

.project-title-img{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.project-title-wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
    bottom: 0;
    margin-left: 3%;
    margin-bottom: 0rem;
    width: 94%;
    transition: opacity 500ms ease;
}

.project-title{
    font-size: xx-large;
    font-family: "Poppins ExtraBold";
    margin-bottom: -1rem;
}

.category-nav-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    justify-items: center;
}
.project-menu{
    margin: 0;
    place-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.2rem;
}

.project-category-wrapper{
    margin: 0;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.category-title-big{
    display: inline-block;
    font-family: "Poppins ExtraBold";
    font-size: x-large;
    padding-top: 0;
    margin-right: 0.3ch;
    margin-bottom: 0.3rem;
}

.category-title-small{
    display: inline-block;
    font-family: "Poppins Bold";
    font-size: large;
    padding-top: 0;
    margin-right: 0.3ch;
    margin-top: 2.5rem;
}

.details-wrapper{
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 150px;
    margin: 0;
}
/*#endregion*/

@media all and (min-width: 1100px) {
    .flex-column{
        display: flex;
        flex-direction: row;
        justify-content: top;
        flex-wrap: nowrap;
        gap: 3.5rem;
        width: 100%;
        max-width: 1000px;
    }

    .img-wrapper{
        border-radius: 0.5rem;
        overflow: hidden;
        position: relative;
        max-height: 500px;
    }
}

@media all and (max-width: 1100px) {
    .flex-column{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        max-width: 1000px;
    }

    .img-wrapper{
        border-radius: 0.5rem;
        overflow: hidden;
        position: relative;
        max-height: 250px;
    }
}